@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body {
    color: rgb(0, 0, 0);
    background: url("Images/Background1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.header {
    position: fixed ;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px,10%;
    background: -webkit-linear-gradient(right,rgb(8, 8, 165), rgb(0, 0, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header p{
    color:rgb(251, 255, 0);
    font-weight: 600;
    font-family:Lucida Sans;
}
.logo {
    
    font-size: 70px;
    color:rgb(251, 255, 0);
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    font-family: Lucida Sans;
}
.navbar a{
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    margin-right: 35px;
}
.navbar a:hover,
.navbar a.active{    
    color: yellow;

}
.Home {
   height: 100vh;
   background: url("1640168086_216_Genshin-Im.jpg") no-repeat;
   background-size: cover;
   background-position: center;
   display:flex;
   align-items: center;
   padding: 0 10%;
   
}

.game-content{
    
    max-width: 600px;
   
}
.game-content h1{
    font-size: 50px;
    font-weight: 600;
    
}
.game-content p{
    font-weight: 700;
    font-family: 'Arial',sans-serif;
    font-size: 25px;
}
.icon {
    position: absolute;
    height: auto;
    left: 0px;
    width: 250px;
}
.Valorant{
    height: 100vh;
    background: url("Valorant\ Image.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: center;
    padding: 0 10%;
}
.valo-content{
    max-width: 600px;
}
.valo-content h1{
    font-size: 50px;
    font-weight: 600;
    color: greenyellow;
}
.valo-content p{
    font-weight: 700;
    font-family: 'Arial',sans-serif;
    font-size: 25px;
    color: greenyellow;
}
.icon {
    position: absolute;
    height: auto;
    left: 0px;
    width: 250px;
}
@media screen and (max-width=400px){
    body{
        width: 20%;
    }
    .header{
        font-size:20%;
    
    }
    .Home{
        font-size: 20%;
    }
}

